# Entorno virtual
.venv/
env/
venv/

# Variables de entorno / Claves privadas
.env

# Caché de Python
__pycache__/
*.pyc

# Archivos de la base de datos o temporales
*.db
*.log

script.sql
script1.sql
script2.sql
truncate.sql
